@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  font-family: 'Baskerville', serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

p {
  color: theme('colors.primaryDark');
}

@layer utilities {
  .nav-link {
    @apply relative text-primary text-lg;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: theme('colors.primary');
    transition: width 0.4s ease, left 0.4s ease;
  }

  .nav-link:hover::after {
    width: 100%;
    left: 0;
  }

  .nav-link-active::after {
    width: 100%;
    left: 0;
  }
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg transition-all duration-300 ease-in-out;
    @apply border border-transparent;
    @apply hover:bg-white hover:text-primary hover:border-primary;
  }

  .btn-secondary {
    @apply bg-secondary text-white px-4 py-2 rounded-lg transition-all duration-300 ease-in-out;
    @apply border border-transparent;
    @apply hover:bg-white hover:text-secondary hover:border-secondary;
  }
}
